html {
    height: 100%;
}
body {
    background-color: black;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#viewport {
    display: flex;
    position: relative;
    justify-content: center;
    height: auto;
    width: 100%;
    
}

#message {
    position: absolute;
    width: 1040px;
    height: 248px;
    border: white solid 4px;
    top: -328px;
    color: white;
    padding: 20px 20px;
    font-family: 'Press Start 2P', cursive;
}

